profiles {
    standard {
        process.executor = 'local'
    }

    test_index {
        process.executor = 'local'
        params {
            reads = 'data/reads/simulated_coprolyte.{1,2}.fastq.gz'
            index1 = 'data/genomes/bsubtilis/Bowtie2Index/*.bt2'
            index2 = 'data/genomes/ecoli/Bowtie2Index/*.bt2'
            genome1Size = 4215606
            genome2Size = 4686137
            name1 = "Bacillus_subtilis"
            name2 = "Escherichia_coli"
            phred = 64
        }
        process {
            withLabel : intenso {
                cpus = 1
            }
            withLabel : expresso {
                cpus = 1
            }
            withLabel : ristretto {
                cpus = 1
            }
        }
    }

    test_genome {
        process.executor = 'local'
        params {
            reads = 'data/reads/simulated_coprolyte.{1,2}.fastq.gz'
            genome1 = 'data/genomes/bsubtilis/genome.fa'
            genome2 = 'data/genomes/ecoli/genome.fa'
            name1 = "Bacillus_subtilis"
            name2 = "Escherichia_coli"
            phred = 64
        }
        process {
            withLabel : intenso {
                cpus = 1
            }
            withLabel : expresso {
                cpus = 1
            }
            withLabel : ristretto {
                cpus = 1
            }
        }
    }

    cdag_index {
        process.executor = 'slurm'
        params {
            index1 = '/projects1/users/borry/genomes/Homo_sapiens/NCBI/GRCh38/Sequence/Bowtie2Index/*.bt2'
            index2 = '/projects1/users/borry/genomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/Bowtie2Index/*.bt2'
            genome1Size = 3099922541
            genome2Size = 2327650711
            name1 = "Homo_sapiens"
            name2 = "Canis_familiaris"
        }
        process {
            withLabel : intenso {
                cpus = 8
            }
            withLabel : expresso {
                cpus = 8
            }
            withLabel : ristretto {
                cpus = 1
            }
        }
    }

    cdag_genome {
        process.executor = 'slurm'
        params {
            genome1 = '/projects1/users/borry/genomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa'
            genome2 = '/projects1/users/borry/genomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/WholeGenomeFasta/genome.fa'
            name1 = "Homo_sapiens"
            name2 = "Canis_familiaris"
        }
        process {
            withLabel : intenso {
                cpus = 8
            }
            withLabel : expresso {
                cpus = 8
            }
            withLabel : ristretto {
                cpus = 1
            }
        }
    }

    sdag_index {
        process.executor = 'slurm'
        process {
            withLabel: intenso {
                queue = 'medium'
                cpus = 8
            }
            withLabel: expresso {
                queue = 'short'
                cpus = 8
            }
            withLabel : ristretto {
                queue = 'short'
                cpus = 1
            }
        }
        params {
            index1 = '/projects1/users/borry/genomes/Homo_sapiens/NCBI/GRCh38/Sequence/Bowtie2Index/*.bt2'
            index2 = '/projects1/users/borry/genomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/Bowtie2Index/*.bt2'
            genome1Size = 3099922541
            genome2Size = 2327650711
            name1 = "Homo_sapiens"
            name2 = "Canis_familiaris"
        }
    }

    sdag_genome {
        process.executor = 'slurm'
        process {
            withLabel: intenso {
                queue = 'medium'
                cpus = 8
            }
            withLabel: expresso {
                queue = 'short'
                cpus = 8
            }
            withLabel : ristretto {
                queue = 'short'
                cpus = 1
            }
        }
        params {
            genome1 = '/projects1/users/borry/genomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa'
            genome2 = '/projects1/users/borry/genomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/WholeGenomeFasta/genome.fa'
            name1 = "Homo_sapiens"
            name2 = "Canis_familiaris"
        }
    }
}
