profiles {
    standard {
        process.executor = 'local'
    }

    test_index {
        process.executor = 'local'
        params {
            reads = 'data/reads/metagenome.{1,2}.fastq.gz'
            index1 = 'data/genomes/bsubtilis/Bowtie2Index/*.bt2'
            index2 = 'data/genomes/ecoli/Bowtie2Index/*.bt2'
            genome1 = 'data/genomes/bsubtilis/genome.fa'
            genome2 = 'data/genomes/ecoli/genome.fa'
            genome1Size = 4215606
            genome2Size = 4686137
            name1 = "Bacillus_subtilis"
            name2 = "Escherichia_coli"
            phred = 64
        }
        process {
            withLabel : intenso {
                cpus = 1
            }
            withLabel : expresso {
                cpus = 1
            }
            withLabel : ristretto {
                cpus = 1
            }
        }
    }

    test_genome {
        process.executor = 'local'
        params {
            reads = 'data/reads/metagenome.{1,2}.fastq.gz'
            genome1 = 'data/genomes/bsubtilis/genome.fa'
            genome2 = 'data/genomes/ecoli/genome.fa'
            name1 = "Bacillus_subtilis"
            name2 = "Escherichia_coli"
            phred = 64
        }
        process {
            withLabel : intenso {
                cpus = 1
            }
            withLabel : expresso {
                cpus = 1
            }
            withLabel : ristretto {
                cpus = 1
            }
        }
    }

    slurm {
        process.executor = 'slurm'
        process {
            withLabel: intenso {
                cpus = 8
            }
            withLabel: expresso {
                cpus = 4
            }
            withLabel : ristretto {
                cpus = 1
            }
        }
    }

    sdag {
        process.executor = 'slurm'
        process {
            withLabel: intenso {
                queue = 'medium'
                cpus = 8
            }
            withLabel: expresso {
                queue = 'short'
                cpus = 4
            }
            withLabel : ristretto {
                queue = 'short'
                cpus = 1
            }
        }
    }
}
