profiles {
    standard {
        process.executor = 'local'
    }

    cdag {
        process.executor = 'slurm'
    }

    sdag {
        process.executor = 'slurm'
        process {
            withLabel: expresso {
                queue = 'short'
            }
            withLabel: intenso {
                queue = 'medium'
            }
        }
        process.queue = 'short'
    }
}
