/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/coproid -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input                    = "/mnt/archgen/users/vanos/tests/samplesheet.csv"
    //"/mnt/archgen/users/vanos/tests/samplesheet.csv"
    //"/mnt/archgen/users/vanos/coproid/assets/samplesheet.csv"
    genome_sheet             = "/mnt/archgen/users/vanos/tests/genomesheet.csv"
    //"/mnt/archgen/users/vanos/tests/genomesheet.csv"
    //"/mnt/archgen/users/vanos/coproid/assets/genomesheet.csv"
    sam2lca_db               = "/home/meriam_van_os/.sam2lca"
    kraken2_db               = "/mnt/archgen/users/vanos/tests/data/minikraken2_v2_8GB_201904_UPDATE"
    sp_sources               = '/mnt/archgen/users/vanos/sourcepredict/data/modern_gut_microbiomes_sources.csv'
    //params.modules_testdata_base_path + '/genomics/prokaryotes/metagenome/taxonomy/misc/sources_taxid.csv'
    sp_labels                = '/mnt/archgen/users/vanos/sourcepredict/data/modern_gut_microbiomes_labels.csv'
    //params.modules_testdata_base_path + '/genomics/prokaryotes/metagenome/taxonomy/misc/sources_labels.csv'
    taxa_sqlite              = "/home/meriam_van_os/.etetoolkit/taxa.sqlite"
    taxa_sqlite_traverse_pkl = "/home/meriam_van_os/.etetoolkit/taxa.sqlite.traverse.pkl"

    // outdir

    outdir = "test_results"
}

process {
    withName: 'BOWTIE2_ALIGN' {
        ext.args = '-N 1 -D 20 -R 3 -L 20 -i S,1,0.50'
    }
}
