/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/coproid -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                    = 'https://github.com/nf-core/test-datasets/raw/coproid/reads/samplesheet.csv'
    genome_sheet             = 'https://github.com/nf-core/test-datasets/raw/coproid/genomes/genomesheet.csv'
    file_prefix              = 'coproid'
    sam2lca_identity         = 0.8
    sam2lca_acc2tax          = 'adnamap' //'adnamap' for db build, 'nucl' for default
    kraken2_db               = 'https://github.com/nf-core/test-datasets/raw/coproid/kraken.tar.gz'
    sp_sources               = 'https://github.com/nf-core/test-datasets/raw/coproid/sourcepredict/test_sources.csv'
    sp_labels                = 'https://github.com/nf-core/test-datasets/raw/coproid/sourcepredict/test_labels.csv'
    taxa_sqlite              = params.modules_testdata_base_path + '/genomics/prokaryotes/metagenome/taxonomy/misc/taxa_sqlite.xz'
    taxa_sqlite_traverse_pkl = params.modules_testdata_base_path + '/genomics/prokaryotes/metagenome/taxonomy/misc/taxa_sqlite_traverse.pkl'
}

process {
    withName: BOWTIE2_ALIGN {
        ext.args = '-N 1 -D 20 -R 3 -L 20 -i S,1,0.50'
    }
}

