/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/coproid -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input                    = 's3://ngi-igenomes/test-data/mag/samplesheets/samplesheet.full.csv
    genome_sheet             = "assets/genomesheet.csv"
    file_prefix              = 'coproid'
    sam2lca_identity         = 0.8
    sam2lca_acc2tax          = 'adnamap' //'adnamap' for db build, 'nucl' for default
    kraken2_db               = 's3://ngi-igenomes/test-data/mag/minikraken_8GB_202003.tgz'
    sp_sources               = 'https://github.com/nf-core/test-datasets/raw/coproid/sourcepredict/test_sources.csv'
    sp_labels                = 'https://github.com/nf-core/test-datasets/raw/coproid/sourcepredict/test_labels.csv'
    taxa_sqlite              = params.modules_testdata_base_path + '/genomics/prokaryotes/metagenome/taxonomy/misc/taxa_sqlite.xz'
    taxa_sqlite_traverse_pkl = params.modules_testdata_base_path + '/genomics/prokaryotes/metagenome/taxonomy/misc/taxa_sqlite_traverse.pkl'
}
