name: nf-core CI
# This workflow is triggered on pushes and PRs to the repository.
# It runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on: [push, pull_request]

jobs:
  nf_core_ci:
    env:
      NXF_VER: ${{ matrix.nxf_ver }}
      NXF_ANSI_LOG: false
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Nextflow versions: check pipeline minimum and current latest
        nxf_ver: ['19.10.0', '']
    steps:
      - uses: actions/checkout@v2
      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/
      - name: Pull docker image
        run: |
          docker pull nfcore/coproid:dev && docker tag nfcore/coproid:dev nfcore/coproid:dev
      - name: Run pipeline with single-end test data
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --single_end
      - name: Run pipeline with paired-end test data
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker
